html, body {
	width: 100%;
	height: 100%;
}
.form-inline {
	position: absolute; 
	left: 15px;
	top: 10px;
	z-index: 1;
}
.form-inline label {
	color: grey;
	font-family: "Myriad Pro Semi Condensed";
}
.form-inline label img {
	margin-right: 5px;
}
.form-inline input {
	height: 25px;
	font-family: "Myriad Pro Semi Condensed";
}
.dropdown-menu {
	left: 85px;
	width: 700px;
	padding: 5px;
	z-index: 2;
}
.tab-content {
	margin-top: 50px;
}
.table {
	margin-bottom: 0;
}
#cover {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	display: none;
	z-index: 1;
}
#container{
	position: absolute;
	width: 75%;
	height: 800px;
}
#news{
	position: absolute;
	width: 25%;
	right: 0;
	height: 800px;
	overflow-y: scroll;
	background: #2e3035;
}
#news .header {
	height: 40px;
	padding: 10px 20px 0;
	color: black;
	background-color: white;
}
#news .header span {
	font-size: 16px;
	font-family: "Myriad Pro Semi Condensed";
}
#news .header .btn-default {
	float: right;
	height: 25px;
	line-height: 0
}
#news .header .btn-default span {
	font-family: "Myriad Pro Light";
}
#news .content {
	background: #2e3035;
	height: 100%;
	padding: 10px;
}
#news .content .eachContent{
	margin-top: 5px;
	padding:3px;
	border: solid 1px #ccc;
}
#news .content .eachContent.highlight{
	border:1px solid red;
}
#news .content .eachContent .flag{
	font-size: 11px;
	border: 1px solid black;
	font-weight: bold;
	-moz-box-shadow:    1px 1px 2px 3px #ccc;
  	-webkit-box-shadow: 1px 1px 2px 3px #ccc;
  	box-shadow:         1px 1px 2px 3px #ccc;
  	float:left;
  	padding: 3px;
	cursor: pointer;
	color: white;
}
#news .content .eachContent .right{
	font-size: 9px;
	float: left;
	margin-left: 5%;
	width: 80%;
	font-family: "Myriad Pro Light Condensed";
}
#news .content .eachContent .right .rightText{
	color: #ccc;
}
.dropdown-news {
	display: none;
	background: #2e3035;
	width: 300px;
	padding: 5px 15px;
	z-index: 1;
	position: relative;
	top: 5px;
}
.dropdown-news .categories {
	padding-left: 0;
}
.dropdown-news li {
	list-style: none;
	margin: 3px 0;
}
.dropdown-news li a {
	color: white;
	text-decoration: none;
	display: block;
	border-radius: 5px;
	padding: 3px 5px;
}
.dropdown-news li a span {
	display: block;
	width: 220px;
}
li .category-name {
	background: #bfbfbf;
}
li.selected .category-name {
	background: #5b9bd5;
}
.dropdown-news li img {
	float: right;
	margin-top: -25px;
}
.second-category-dropdown {
	display: none;
	position: absolute;
	z-index: 2;
	top: 60px;
	background: white;
	width: 250px;
	left: 25px;
	color: black;
	border-radius: 10px;
}
.second-category-dropdown .col-xs-6:first-child {
	padding: 10px 25px;
}
.second-category-dropdown ul {
	padding-left: 10px;
	padding-right: 10px;
}
.second-category-dropdown li {
	list-style: none;
	margin: 3px 0;
}
.second-category-dropdown li a {
	color: white;
	text-decoration: none;
	display: block;
	border-radius: 5px;
	padding: 3px 5px;	
}